<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
     <script src="tasks.js"></script>
    <title>Home</title>
</head>

<body style="background-size: 100% 100%; height: 100%; width: 100%; background-image: url('{{gif}}'); height: 100vh;">

<!-- YouTube Video Background -->
<!-- <div style="pointer-events: none; user-select: none; position: fixed; top: 100%; left: 100%;" class="yt-wrapper"> -->
  <div style="position: fixed; inset: 0px; display: flex; align-items: center; justify-content: center; z-index: 0; background: black;" class="yt-wrapper">
    <!-- <div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; border-radius: 8px;"> -->
      <!-- <div style="pointer-events: none; user-select: none; z-index: -1; border-radius: 8px; width: 100vw; height: 200vw;"> -->
        <div style="width: 100%; height: 100%;">
          <iframe allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="【24/7 CHILL LOFI HIP HOP RADIO】beats to sleep/relax/study to" src="https://www.youtube.com/embed/qH3fETPsqXU?autoplay=0&amp;mute=0&amp;controls=0&amp;origin=https%3A%2F%2Fwww.lofi.cafe&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;iv_load_policy=3&amp;modestbranding=true&amp;color=black&amp;enablejsapi=1&amp;widgetid=1" id="widget2" width="100%" height="100%" frameborder="0"></iframe>
        </div>
      </div>
    </div>
</div>


  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand btn btn-light btn-sm text-primary" style="opacity: 0.8;" href="/">coffeebuds</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end " id="navbarNav">
        <ul class="navbar-nav gap-2">
          <li class="nav-item">
            <a class="nav-link btn btn-light btn-sm justify-content-center align-items-center" style="opacity: 0.8;" aria-current="page" href="#">
                <img src="../static/assets/reshot-icon-minimal-timer-RLEU6FQHW5.svg" width="25px" height="25px" alt="">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-light btn-sm" style="opacity: 0.8;" href="#">
                <img src="../static/assets/reshot-icon-list-S4CW5TRAZY.svg" width="25px" height="25px" alt="">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-light btn-sm" style="opacity: 0.8;" href="#">
                <img src="../static/assets/reshot-icon-ice-2UJDX685BG.svg" width="25px" height="25px" alt="">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-light btn-sm" style="opacity: 0.8;" href="/loginRdrct">
                <img src="../static/assets/reshot-icon-leaderboard-2ZS8JETV4N.svg" width="25px" height="25px" alt="">
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>


  <!-- Pomodoro Timer -->

  <!-- Javascript for timer -->
  <script>

    var time = 1500;
    let interval;

    function timer() {
      if(time > 0) {
        time--;
        document.getElementById('displayTime').innerHTML = formatTime(time);
      } else {
        clearInterval(interval);
      }
    }
    function startTimer(){
      interval = setInterval(timer, 1000);
    }
    function pauseTimer(){
      interval = clearInterval(interval);
    }
    function resetTimer(){
      interval = clearInterval(interval);
      time = 1500;
      document.getElementById('displayTime').innerHTML = formatTime(time);
    }
    function formatTime(num){
      const min = Math.floor(num/60);
      const sec = num%60;
      if (sec<10) {
        return min + ":0" + sec;
      } else {
        return min + ":" + sec;
      }
    }

  </script>

  <!-- Display timer -->
  <div class="mt-3 mx-2 row justify-content-end">
    <div class="p-3 d-flex flex-column align-items-center gap-3 bg-light rounded-3 border" style="opacity:85%; height: 200px; width: 300px;">
      <div class="d-flex align-items-center justify-content-center display-1 fw-semibold">
        <div id=displayTime>25:00</div>
      </div>

      <div class="d-flex justify-content-center gap-2">
        <button type="button" class="btn btn-dark btn-lg" onclick="startTimer();">
          Start
        </button>
        <button class="btn btn-dark btn-lg" onclick="pauseTimer();">
          Pause
        </button>
        <button class="btn btn-dark btn-lg" onclick="resetTimer();">
          Reset
        </button>
      </div>

    </div>
  </div>

  <!-- To-Do List -->

  <div class="mt-3 mx-2 row justify-content-end">
    <div class="p-3 d-flex flex-column align-items-center gap-3 bg-light rounded-3 border" style="opacity:85%; height: 300px; width: 300px; overflow:scroll;">
      <div class="fs-5 d-flex align-items-center justify-content-center fw-semibold">
        Reminders
      </div>

      <div class="d-flex flex-column px-2 justify-content-start">

            <button class="d-flex btn align-items-center">
              <svg style="width: 16px; height: 16px;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              </svg>
              <div class="container">
                Finish Math Homework by 7pm and Studydfsd dskjh skshd fdjk re i figured it out the problem hello what the hell is even going on he
              </div>
            </button>

            <button class="d-flex btn align-items-center">
              <svg style="width: 16px; height: 16px;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              </svg>
              <div class="container">
                List Tasks Here
              </div>
            </button>

            <button class="d-flex btn align-items-center">
              <svg style="width: 16px; height: 16px;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              </svg>
              <div class="container">
                List Work Here To Do
              </div>
            </button>


      </div>
    </div>

    <style>

      	body {
  background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); }


ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


h1 {
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

.fa-plus {
	float: right;
}

li {
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
}

li:nth-child(2n){
	background: #f7f7f7;
}

span {
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}

input {
	font-size: 18px;
	color: #2980b9;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}

input:focus{
	background: #fff;
	border: 3px solid #2980b9;
	outline: none;
}

.completed {
	color: gray;
	text-decoration: line-through;
}

    </style>



  <!-- Radio -->
  <!-- <nav class="navbar fixed-bottom">
    <div class="container-fluid">
      <audio controls class="bg-light rounded-3" style="opacity:85%">
        <source src={{audio}} type="audio/mpeg">
      </audio>
    </div>
  </nav> -->

</body>

</html>
